theme = dark:tyrian-night,light:tyrian-dawn
background-opacity = 0.82
background-blur = true
font-family = Monaspace Neon
font-family-bold = Monaspace Neon
font-family-italic = Monaspace Radon
font-family-bold-italic = Monaspace Radon
font-size = 13
font-thicken = false
cursor-style = bar
cursor-style-blink = true
window-decoration = client
window-theme = ghostty
window-vsync = true
window-titlebar-background = #0C0C0C
window-titlebar-foreground = #D0C8E0
gtk-titlebar = true
gtk-titlebar-style = tabs
window-show-tab-bar = auto
gtk-tabs-location = top
gtk-wide-tabs = false
gtk-toolbar-style = flat
window-padding-x = 10
window-padding-y = 8
minimum-contrast = 1
mouse-scroll-multiplier = discrete:1,precision:1
