[Desktop Entry]
Name=Tyrian Abyss
Comment=Tyrian Abyss Plasma desktop theme
X-KDE-PluginInfo-Name=TyrianAbyss
X-KDE-PluginInfo-Author=renbkna
X-KDE-PluginInfo-Version=2.0.2
X-KDE-PluginInfo-License=Apache-2.0
X-KDE-ServiceTypes=Plasma/Theme
