[Desktop Entry]
Name=Tyrian Nocturne
Comment=Tyrian Nocturne Plasma desktop theme
X-KDE-PluginInfo-Name=TyrianNocturne
X-KDE-PluginInfo-Author=renbkna
X-KDE-PluginInfo-Version=2.0.2
X-KDE-PluginInfo-License=Apache-2.0
X-KDE-ServiceTypes=Plasma/Theme
