[Desktop Entry]
Name=Tyrian Dawn
Comment=Tyrian Dawn Plasma desktop theme
X-KDE-PluginInfo-Name=TyrianDawn
X-KDE-PluginInfo-Author=renbkna
X-KDE-PluginInfo-Version=2.0.1
X-KDE-PluginInfo-License=Apache-2.0
X-KDE-ServiceTypes=Plasma/Theme
